#beverageImage{
    height: 100%;
    width: 500px;
}
.image-container {
    position: fixed;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .image-container .content {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #ffffff; 
    width: 100%; 
    height: 100%;
    padding: 20px; 
  }
  .title {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 100px;
  }
  .slogan {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 40px;
  }
  
.frontBakery{
    height: 100%;
    width: 150%;
}
.py-5{
    padding-top: 20px;
}
.orderbutton{
  color: #ffffff;
  font-family: "Times New Roman";
    text-align: center;
    font-size: 40px;
}
