#beverageImage{
    height: 100%;
    width: 500px;
}
.image-container {
    position: fixed;
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .image-container .content {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #ffffff; 
    width: 100%; 
    height: 100%;
    padding: 20px; 
  }
  .title {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 100px;
  }
  .slogan {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 40px;
  }
  
.frontBakery{
    height: 100%;
    width: 150%;
}
.py-5{
    padding-top: 20px;
}
.orderbutton{
  color: #ffffff;
  font-family: "Times New Roman";
    text-align: center;
    font-size: 40px;
}
{
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */


#rudy{
  background-color: #aaa;
  width: 348px;
  height: 348px;
}

.cart-total {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: 20px auto;
}

  


}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}